<component name="ArtifactManager">
  <artifact type="war" name="mybatis_demo:war">
    <output-path>$PROJECT_DIR$/../mybatis_demo/target</output-path>
    <root id="archive" name="mybatis_demo.war">
      <element id="artifact" artifact-name="mybatis_demo:war exploded" />
    </root>
  </artifact>
</component>