
			*{
				margin: 0px;
				padding: 0px;
			}
			.bottom{
				/*border: 3px red solid;*/
				height: 570px;
				background-color: #F6F7F7;
				width: 1366px;
				
			}
			
			.b{
				/*border: 2px green solid;*/
				width: 1366px;
				height: 150px;
				text-align: center;
				background: url('../imgs/Image 006.png');
				background-repeat: no-repeat;
				background-position:center 85px;
				margin:1px auto;
			}
			#text1{
				font-size: 15px;
				color: #008743;
			}
			#text2{
				font-size: 12px;
				color: #707070;
			}
			#text3{
				font-size: 12px;
				color: #707070;
			}
			.a{
				/*border: 2px yellow solid;*/
				height: 410px;
				width: 1366px;
			}
			.a1{
				/*border: 1px yellow solid;*/
				margin: 70px 135px;
				width: 1200px;
				height: 200px;
				
			}
			.a2{
				/*border: 1px red solid;*/
				height: 90px;
				
			}
			dl{
				/*border: 3px green solid;*/
				float: left;
				width: 240px;
			}
			.a1 dd{
				margin-left: 20px;
				border-left: gray 1px dashed;
				text-indent: 20px;
				line-height: 20px;
				font-size: 12px;
			}
				
			
			.new{
				/*border: 1px black solid;*/
				width: 1366px;
				height: 115px;
				background-color: #DFDFDF;
			}
			
			.new  dd{
				/*border: 2px black solid;*/
				float: left;
				/*margin-left: 75px;*/
			}
			
			.new dl{
				float: left;
				margin-left: 100px;
				margin-top: 35px;
			}
